@import "../../../../sass/variables";

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  border: 2px solid rgb(224, 224, 224);
  background: rgb(248, 248, 248);
  padding: 0.15rem 0.25rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: $white;
  border: 2px solid $blue;
}

.form-control--invalid label,
.form-control--invalid p {
  color: darken($red, 10%);
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: darken($red, 10%);
  background: lighten($red, 10%);
}
